{% with item = item %}
{% include "Dockerfile.j2" %}
{% endwith %}

{# Add user vagrant and enable passwordless sudo #}
RUN if [ $(command -v adduser) ]; then \
        adduser vagrant && \
        adduser vagrant sudo; \
    else \
        useradd --create-home vagrant && \
        groupadd sudo && \
        usermod -aG sudo vagrant; \
    fi && \
    echo 'Defaults exempt_group=sudo' >> /etc/sudoers
