---
- name: verify
  hosts: all
  tasks:
    - name: test command existence
      command: bash -c ". /home/vagrant/.bashrc.d/rust.bashrc && type {{ item }}"
      register: result
      changed_when: False
      with_items:
        - cargo
        - rustc
        - rustup
