name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
      - name: setup poetry
        uses: abatilo/actions-poetry@v2.1.0
      - run: make sync
      - run: make test ROLE=cplusplus
      - run: make test ROLE=git
      - run: make test ROLE=gui-applications
      - run: make test ROLE=nkf
      - run: make test ROLE=prompt
      - run: make test ROLE=python
      - run: make test ROLE=rust
      - run: make test ROLE=shellcheck
      - run: make test ROLE=vscode
      - run: make test ROLE=xmllint
      - run: make test ROLE=zip
      - run: make up
      - run: make lint TTY=false
      - run: make down
