---

- name: check whether already installed shellcheck
  command: |-
    which shellcheck
  register: checked_result
  changed_when: False
  failed_when: checked_result.rc not in [0, 1]

- name: install shellcheck
  when: checked_result.rc == 1
  block:
    - name: install requirements
      become: yes
      apt:
        name:
          - stow
          - xz-utils
    - name: download and unarchive pre-compiled binary
      become: yes
      unarchive:
        src: "https://github.com/koalaman/shellcheck/releases/download/v{{ shellcheck_version }}/shellcheck-v{{ shellcheck_version }}.linux.x86_64.tar.xz"
        dest: /usr/local/src
        remote_src: yes
    - name: create directory to put executable
      become: yes
      file:
        path: "/usr/local/stow/shellcheck-{{ shellcheck_version }}/bin"
        state: directory
        mode: '0755'
    - name: put executable
      become: yes
      command: "cp -p /usr/local/src/shellcheck-v{{ shellcheck_version }}/shellcheck /usr/local/stow/shellcheck-{{ shellcheck_version }}/bin/shellcheck"
    - name: stow package
      become: yes
      args:
        chdir: /usr/local/stow
      shell: |-
        ls | grep 'shellcheck-*' | xargs -n1 stow -D
        stow -R shellcheck-{{ shellcheck_version }}
